body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f3fb;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-title {
  text-align: center;
  margin-bottom: 24px;
  color: #1976d2;
  font-weight: bold;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
