:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #f7f3fb;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: inherit;
}
